@import '../../../style/mixins';

.BadgetBrand {
  padding: dynamic-vw(1920, 8px);
  border-radius: dynamic-vw(1920, 8px);
  background-color: #418CFD;
  transition: .1s ease-in-out all;
  &__title {
    font-size: dynamic-vw(1920, 12px);
    line-height: dynamic-vw(1920, 14px);
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    margin-bottom: dynamic-vw(1920, 8px);
    color: white;
  }

  &__time {
    display: flex;
    align-items: center;
    gap: dynamic-vw(1920, 4px);
    &-text {
      font-size: dynamic-vw(1920, 12px);
      line-height: dynamic-vw(1920, 14px);
      font-weight: 400;
      font-family: "Raleway", sans-serif;
      color: #172b4d;
    }
  }

  &_green {
    background-color: #2ec09d;
    .BadgetBrand__title {
      color: #172b4d;
    }
  }

  &_purple {
    background-color: #AC2EC0;
    .BadgetBrand__title {
      color: #172b4d;
    }
  }

  &_blue {
    background-color: #2E8BC0;
    .BadgetBrand__title {
      color: #172b4d;
    }
  }

  &_yellow {
    background-color: #C0A92E;
    .BadgetBrand__title {
      color: #172b4d;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: .6;
  }
}