@import "/src/style/mixins";

.InputBrand {
  border: 1px solid $quaternary-color;
  border-radius: dynamic-vw(1920, 10px);
  .ant-input-affix-wrapper {
    // border: 1px solid $quaternary-color;
    border-radius: dynamic-vw(1920, 10px);
    border: none !important;
    background-color: inherit;

    padding: dynamic-vw(1920, 6px) dynamic-vw(1920, 34px);
    display: flex;
    align-items: center;
  }

  .ant-input {
    border-radius: dynamic-vw(1920, 10px);
    border: none;
  }

  input {
    font-size: dynamic-vw(1920, 14px) !important;
    line-height: dynamic-vw(1920, 20px) !important;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
  }

  .ant-input-prefix {
    position: absolute;
    left: dynamic-vw(1920, 12px);
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0px;
    svg {
      width: dynamic-vw(1920, 18px);
      height: dynamic-vw(1920, 18px);
    }
  }
}