@import "../../../style/constants.scss";
@import "../../../style/variables";
@import "/src/style/mixins";

.BrandModal {
  width: dynamic-vw(1920, 510px) !important;
  &__text {
    color: #172B4D;
    font-size: dynamic-vw(1920, 16px);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: dynamic-vw(1920, 20px);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: dynamic-vw(1920, 16px);
    justify-content: flex-end;
  }

  .ant-modal-header {
    margin-bottom: dynamic-vw(1920, 8px) !important;
  }
}

.primaryModal {
  .ant-modal-content {
    padding: dynamic-vw(1920, 20px);
    border-radius: dynamic-vw(1920, 20px);
  }
}

.secondaryModal {
  &__spin {
    &-container {
      display: flex;
      justify-content: center;
    }
  }
  .ant-modal-content {
    padding: dynamic-vw(1920, 40px);
    background: #ffffff;
    border-radius: dynamic-vw(1920, 20px);
  }

  .ant-modal-header {
    margin-bottom: dynamic-vw(1920, 20px);
    padding: 0;
    border: 0;
  }

  .ant-modal-title {
    @extend %raleway-medium;
    font-size: dynamic-vw(1920, 20px);
    line-height: dynamic-vw(1920, 24px);
    color: $primary-text;
    font-weight: 600;
  }

  .ant-modal-body {
    padding: 0;
  }
}