@import "../../../style/constants.scss";
@import "../../../style/variables";
@import "../../../style/mixins";

.ant-dropdown-menu-submenu-disabled {
  opacity: .6;
}

.DropdownButton {
  padding: 7px 12px;
  border-radius: 10px;
  outline: 1px solid $quaternary-color-60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $white-600;
  }

  &:active {
    background: $primarylight-color;
  }

  &__text {
    display: flex;
    align-items: center;
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;

    .ant-typography {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    svg {
      margin-right: 5px;
    }
  }

  &__arrowIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;

    &.open {
      transform: rotate(-180deg);
    }
  }
}