@import "/src/style/mixins";

.AddListModal {
  width: dynamic-vw(1920, 1042px) !important;
  &__title {
    font-size: dynamic-vw(1920, 20px);
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    line-height: dynamic-vw(1920, 24px);
    color: $primary-text;
    margin-bottom: dynamic-vw(1920, 20px);
  }

  .InputBrand .ant-input {
    border-radius: 0px;
  }

  &__row {
    cursor: pointer;
  }

  &__row-active {
    background-color: rgba(122, 130, 148, 0.6);
    .ant-table-cell-row-hover {
      background-color: transparent !important;
    }
  }

  .ant-pagination.ant-pagination-disabled .ant-pagination-item {
    background: transparent !important;
    border-color: transparent !important;
  }

  // .ant-table-content {
  //   overflow: auto;
  //   height: dynamic-vh(1080, 580px);
  //   @include custom-scroll();
  //   @media(max-height: 900px) {
  //     height: dynamic-vh(1080, 450px);
  //   }
  // }

  .ant-table-content {
    overflow: auto;
    height: dynamic-vh(1080, 538px);
    @include custom-scroll();
    // @media(max-height: 900px) {
    //   height: dynamic-vh(1080, 450px);
    // }
  }

  .ant-pagination.ant-pagination-disabled .ant-pagination-item.ant-pagination-item-active {
    background: #00a2e1 !important;
  }

  // .TableComponent {
  //   overflow: hidden !important;
  // }

  .ant-pagination.ant-pagination-disabled .ant-pagination-item {
    background: transparent !important;
    border-color: transparent !important;
  }

  .ant-pagination.ant-pagination-disabled .ant-pagination-item.ant-pagination-item-active {
    background: #00a2e1 !important;
  }

  // .TableComponent {
  //   overflow: hidden !important;
  // }

  &__cell {
    .ant-typography {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__clear {
    color: red;
    background-color: $gray;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: dynamic-vw(1920, 20px);
    gap: dynamic-vw(1920, 10px);
    .DropdownButton {
      width: dynamic-vw(1920, 240px);
      padding: dynamic-vw(1920, 10.7px) dynamic-vw(1920, 12px);
      .ant-input-affix-wrapper {
        padding: 9px 11px;
      }
    }
  }

  &__search {
    flex: 1 1 0;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: dynamic-vw(1920, 20px);
  }

  &__list {
    margin-bottom: dynamic-vw(1920, 20px);
    // height: dynamic-vh(1080, 518px);
    // overflow-y: auto;
    // @include custom-scroll();
  }

  &__btns {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: dynamic-vw(1920, 16px);
    margin-left: auto;
  }

  &__cancel {
    color: $primary-text;
    transition: 0.2s ease-in-out all;
    &:hover {
      color: $primary-color;
    }
    &:focus {
      color: $primary-color-active;
    }
  }
}