.TableComponentSkeleton {

  .ant-skeleton-element {
    width: 100% !important;
  }

  .ant-skeleton-element .ant-skeleton-button-sm {
    width: 100% !important;
  }
  .ant-skeleton-element .ant-skeleton-input-sm {
    width: 100% !important;
  }

  .ant-table-cell-row-hover {
    cursor: default;
    background-color: transparent !important;
  }
}