@import "../../../style/constants.scss";
@import "../../../style/variables";
@import "/src/style/mixins";

.TableComponent {
  position: relative;
  width: 100%;
  max-width: 100%;
  color: $primary-text;
  overflow-y: hidden;

  .ant-table-tbody > tr > td {
    padding: 0px 8px;
  }

  .ant-table-thead > tr > th {
    padding: 0px 8px;
  }

  .ant-table-container {
    &::before,
    &::after {
      box-shadow: none !important;
    }
  }

  .ant-table-content {
    // overflow: auto;
    // height: dynamic-vh(1080, 620px);
    // @include custom-scroll();
    // @media (max-height: 900px) {
    //   height: dynamic-vh(1080, 550px);
    // }

    .ant-table-thead {
      position: sticky;
      top: 0;
      z-index: 20;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // min-height: dynamic-vh(1080, 558px);
  }

  .ant-table {
    color: $primary-text;
  }

  .ant-table-content {
    overflow: auto;
    // height: dynamic-vh(1080, 558px);
    @include custom-scroll();
  }

  .ant-table-cell-row-hover {
    background: $white-600 !important;
  }

  .ant-table-tbody > tr {
    > td {
      border: none;
    }

    &:not(:last-child) {
      > td {
        border-bottom: none;
        border-bottom: 0.3px solid $bg-color;
      }
    }
  }

  .ant-table-column-sorters {
    padding: 0 !important;
    display: flex !important;
    align-items: center;

    .ant-table-column-sorter.ant-table-column-sorter-full {
      order: 0;
      margin-right: 10px;
    }

    .ant-table-column-title {
      order: 1;
    }

    .ant-table-column-sorter-up.active,
    .ant-table-column-sorter-down.active {
      color: $primary-color;
    }
  }

  &__tooltipText {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__loading {
    .Loader {
      position: absolute;
      top: 35%;
    }
  }

  &__settingsIcon {
    position: absolute;
    padding: 0 !important;
    cursor: pointer;
    width: 24px !important;
    height: 38px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 0px;
    z-index: 999;

    .ant-dropdown-trigger {
      width: 24px;
      height: 24px;
    }
  }

  .ant-table-thead {
    & > tr {
      background-color: $bg-color;

      & > th {
        background-color: $bg-color;
        border-bottom: none;
        @extend %raleway-medium;
        color: $primary-text;
        font-size: 12px;
        line-height: 14px;
        // padding: 0px;
        height: 38px;

        &::before {
          display: none;
        }

        // &:first-child {
        //   border-top-left-radius: 10px !important;
        //   border-bottom-left-radius: 10px !important;
        // }

        // &:last-child {
        //   border-top-right-radius: 10px !important;
        //   border-bottom-right-radius: 10px !important;
        // }
      }
    }
  }

  .ant-table-tbody > tr > td.small {
    width: 2%;
  }

  .ant-table-tbody > tr > td.col {
    width: 1%;
  }

  .ant-table-thead > tr > th,
  .ant-table tfoot > tr > th {
    white-space: nowrap;
  }

  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > td {
    // padding: 0;
  }

  tbody > tr {
    height: 48px;
  }

  .ant-table-tbody .ant-table-cell {
    & > div:first-child {
      // padding: 0px;
      // display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
    }

    & div.ant-typography {
      padding: 2px 0;
    }

    span.ant-checkbox-inner {
      min-height: auto;
    }
  }
}

.ant-empty-image {
  padding: 0 !important;
}

.ant-empty-description {
  padding: 0 !important;
}